/* Start header*/
header
{
    letter-spacing: 19pt;
}

header,footer
{
    background-color:#ffb3d9 ;
    clear : left ;
    padding :1px;
    margin: 0px;
}

header h1
{
    text-align: center;
    padding: 0.5em;
    text-decoration: overline;
    text-shadow: 1px 2px 4px;
}
hr
{
    border: 1px solid black;
}
nav 
{
	background-color:#ffb3d9 ;
    z-index: 5;
}
 
nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
    z-index: 5;
	}
	
nav ul li 
{
	display:inline-block;
	background-color: #ffb3d9;
    z-index: 5;
}
 
nav a 
{
	display:block;
	font-size:13px;
	line-height: 60px;
	text-decoration:none;
    width: 150px;
    text-align: center;
    z-index: 5;
}
 
nav a:hover 
{ 
	background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}
/* Dropdown menu of packages and cruise */
nav ul ul li 
{
	width:190px;
	float:none;
	display:list-item;
	position: relative;
    z-index: 5;

}
/* Dropdown menu of packages and cruise */
nav ul ul ul li 
{
	position: relative;
	top:-60px; 
	left:170px;
    z-index: 5;

}

li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }
            
            /* Hide Dropdowns by Default */
nav ul ul 
{
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
    z-index: 5;
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul 
{
	display:inherit;
}
/* end header*/

/*start form book now*/
.part1
{
    background-color: whitesmoke;
    padding: 1em;
    padding-bottom: 1.5em;
    border-radius: 25pt;
    text-align: center;
}
legend
{
    font-size: 20px;
    font-family:monospace;
    letter-spacing: 4px; 
    font-weight: bolder;
    color: darkblue;
}
label
{
    padding-left: 2em;
    padding-right: 0.2em;
}
.part2
{
    background-color: whitesmoke;
    padding: 1.5em;
    padding-bottom: 1.5em;
    border-radius: 25pt;
}
.part2 legend
{
    text-align: center;
    font-weight: bolder;
}
.max
{
    margin-left: 28.5px;
}
.doc
{
    margin-left: 9px;
}
.part2 label
{
    letter-spacing: 2px;
    padding:0.4em;
    margin: 10px;
}
input[type="text"]
{
    width: 160px;
}
.section1 input 
{
    width: 80px;
}
.part2 .email
{
    width: 160px;
    margin-left: 43px;
}
.part3
{
    background-color: whitesmoke;
    padding: 1.5em;
    padding-bottom: 1.5em;
    border-radius: 25pt;
}
.part3 legend
{
    text-align: center;
    font-weight: bolder;
}
.part3 label
{
    letter-spacing: 2px;
    padding:0.4em;
    margin: 10px;
}
input[type="submit"],[type="reset"]
{
    padding: 0.3em;
    border-radius: 10px;
    margin-left: 240px;
    margin-right: 250px;
    background-color: #ffb3d9;
    color: black;
    border: 0px;
    height: 30px;
    width: 90px;
}
.sub:hover
{
    font-size: 11pt;
    background-color: #ffcccc;
    font-weight: bolder;
    letter-spacing: 1px;
    width: 110px;
}
sup
{
    color: red;
}
.ccv input
{
    margin-left: 15.5px;
}
.package 
{
    text-decoration: none;
    text-transform: uppercase;
    color: darkblue;
}
.package:hover
{
    color: steelblue;
    font-size: 14pt;
}
/*End form book now*/

/*footer css*/

.inner-footer
{
    margin: 0px;
    padding: 0em;
}
.social-links
{
    display: flex;
}
.social-links ul 
{
    padding:10px;
    display:flex;
    list-style: none;
    width: 300px;
    height: 30px;
    margin: auto;
}
.social-items
{
    list-style: none;
}
.social-items a
{
    padding: 10px 20px;
    font-size: 30pt;
    transition: all .25s;
}
.social-items a:hover
{
    font-size: 35px;
}

.quick-links
{
    display: flex;
    width: 770px;
    height: 45px;
    margin: auto;
}
.quick-links ul 
{
    display: flex;
}
.quick-items
{
    list-style: none;
}
.quick-items a
{
    text-decoration: none;
    padding: 0px 15px;
    font-size: 11pt;
    color:darkblue;
}
.quick-items a:hover
{
    font-size: 13pt;
    color: #585df3;
}
.outer-footer
{
    padding:15px;
    text-align: center;
    color: black;
    font-size: 14pt;
}
/* End css */
 