/*Header start */
header
{
    letter-spacing: 19pt;
}

header,footer
{
    background-color:#ffb3d9 ;
    clear : left ;
    padding :1px;
    margin: 0px;
}

header h1
{
    text-align: center;
    padding: 0.5em;
    text-decoration: overline;
    text-shadow: 1px 2px 4px;
}
hr
{
    border: 1px solid black;
}
nav 
{
	background-color:#ffb3d9 ;
    z-index: 5;
}
 
nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
    z-index: 5;
	}
	
nav ul li 
{
	display:inline-block;
	background-color: #ffb3d9;
    z-index: 5;
}
 
nav a 
{
	display:block;
	font-size:13px;
	line-height: 60px;
	text-decoration:none;
    width: 150px;
    text-align: center;
    z-index: 5;
}
 
nav a:hover 
{ 
	background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}
/* Dropdown menu of packages and cruise */
nav ul ul li 
{
	width:190px;
	float:none;
	display:list-item;
	position: relative;
    z-index: 5;

}
/* Dropdown menu of packages and cruise */
nav ul ul ul li 
{
	position: relative;
	top:-60px; 
	left:170px;
    z-index: 5;

}

li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }
            
            /* Hide Dropdowns by Default */
nav ul ul 
{
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
    z-index: 5;
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul 
{
	display:inherit;
}
/*Header End*/

/*Start body*/
section
{
    background-image: url(Brazil%2017%20.png);   /* Background image of Contact Us */
    width: 1240;
}
.overlay
{
    background: rgba(225,192,203,0.6);
    width:100%;
    height: auto;
}
fieldset
{
    border: 2.5px solid pink;
    width: 490px;
    background: white;
    align-content: center;
    display: block;
    padding:20px;
    border-radius: 10pt;
    box-sizing: border-box;
    box-shadow: 0 1em 2em rgba(0,0,0,0.8) ;
}
.size
{
    padding: 3em 22em 3em 25em;
}
form h1
{
    margin: 0px;
    text-align: center;
    letter-spacing: 4px;
    text-decoration: underline;
}
label
{
    display: block;
    margin: 10px;
    letter-spacing: 2px;
}
input,textarea
{
    margin-left: 10px;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    outline: none;
    border-bottom: 1px solid black;
}
input[type="submit"]
{
    width: 100px;
    background:pink ;
    color: black;
    font-size: 17px;
    border-radius: 3px;
    margin-top: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    height: 30px;
    padding: 0px;
}
p 
{
    margin :10px;
    margin-left: 12px;
    padding-top: 1em;
    color:red;
    text-decoration: underline;
    font-weight: bolder;
    letter-spacing: 1px;
}
/*End body*/

/*footer css*/
.inner-footer
{
    margin: 0px;
    padding: 0em;
}
.social-links
{
    display: flex;
}
.social-links ul 
{
    padding:10px;
    display:flex;
    list-style: none;
    width: 300px;
    height: 30px;
    margin: auto;
}
.social-items
{
    list-style: none;
}
.social-items a
{
    padding: 10px 20px;
    font-size: 30pt;
    transition: all .25s;
}
.social-items a:hover
{
    font-size: 35px;
}

.quick-links
{
    display: flex;
    width: 770px;
    height: 45px;
    margin: auto;
}
.quick-links ul 
{
    display: flex;
}
.quick-items
{
    list-style: none;
}
.quick-items a
{
    text-decoration: none;
    padding: 0px 15px;
    font-size: 11pt;
    color:darkblue;
}
.quick-items a:hover
{
    font-size: 13pt;
    color: #585df3;
}
.outer-footer
{
    padding:15px;
    text-align: center;
    color: black;
    font-size: 14pt;
}

 