/* Header start */
header
{
    letter-spacing: 19pt;
}

header,footer
{
    background-color:#ffb3d9 ;
    clear : left ;
    padding :1px;
    margin: 0px;
}

h1
{
    text-align: center;
    padding: 0.5em;
    text-decoration: overline;
    text-shadow: 1px 2px 4px;
}

/*Header End */
h2
{
    text-align: center;
    text-decoration: underline;
    color: white
}
h3
{
    text-decoration: underline;
    font-size: 16pt;
    font-family: cursive
}
h4
{
    border: 2px dashed red ;
    text-align: center;
    color:red;
    font-weight: 900;
    font-size: 13pt;
    line-height: 2;
}
hr
{
    border: 1px solid black;
}
/*Navigation Menu Start */
nav 
{
	background-color:#ffb3d9 ;
}
 
nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li 
{
	display:inline-block;
	background-color: #ffb3d9;
}
 
nav a 
{
	display:block;
	font-size:13px;
	line-height: 60px;

	text-decoration:none;
    width: 150px;
    text-align: center;
}
 
nav a:hover 
{ 
	background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}
/* Dropdown menu of packages and cruise */
nav ul ul li 
{
	width:190px;
	float:none;
	display:list-item;
	position: relative;

}
/* Dropdown menu of packages and cruise */
nav ul ul ul li 
{
	position: relative;
	top:-60px; 
	left:170px;

}

li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }
            
            /* Hide Dropdowns by Default */
nav ul ul 
{
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul 
{
	display:inherit;
}
/*Navigation Menu End */

/* Body Css Start */
.name
{
    position: relative;
    margin: 3%;
}
.txt2
{
    text-decoration: none;
    font-weight: 1000px;
    font-size: 23pt;
    position: absolute;
    left:360px;
    bottom:350px;
    color: black;
}
.txt3 
{
    font-weight: 1000px;
    font-size: 19pt;
    position: absolute;
    left:566px;
    bottom:275px;
}
.txt4
{
    text-align: center;
    font-size: 12.6pt;
    font-weight: 0px;
    position: absolute;
    left:410px;
    bottom:290px;
    color: black;
}
input
{
    font-family: 'League Gothic', sans-serif;
    background-color: none;
}
input:hover
{
    font-size: 21pt;
    background-color: black;
    color:white;
}
table p 
{
    font-size: 11pt;
    margin-top: 20px;
}
td
{
    padding: 0em;
    padding-right: 1.5em;
    text-align: center;
    margin: 0px;
    background-color: white;
    height: 50px;
    border: 1px solid black;
    width: 400px
}

section p
{
    text-align: justify;
    max-width: 660px;
    margin-left: 25px;
    color: darkblue;
}
section img 
{
    border-radius: 15px;
}
/*Body Css end */

/*footer css*/
.inner-footer
{
    margin: 0px;
    padding: 0em;
}
.social-links
{
    display: flex;
}
.social-links ul 
{
    padding:10px;
    display:flex;
    list-style: none;
    width: 300px;
    height: 30px;
    margin: auto;
}
.social-items
{
    list-style: none;
}
.social-items a
{
    padding: 10px 20px;
    font-size: 30pt;
    transition: all .25s;
}
.social-items a:hover
{
    font-size: 35px;
}

.quick-links
{
    display: flex;
    width: 770px;
    height: 45px;
    margin: auto;
}
.quick-links ul 
{
    display: flex;
}
.quick-items
{
    list-style: none;
}
.quick-items a
{
    text-decoration: none;
    padding: 0px 15px;
    font-size: 11pt;
    color:darkblue;
}
.quick-items a:hover
{
    font-size: 13pt;
    color:#585df3;
}
.outer-footer
{
    padding:15px;
    text-align: center;
    color: black;
    font-size: 14pt;
}