/*Header start */
header
{
    letter-spacing: 19pt;
}

header,footer
{
    background-color:#ffb3d9 ;
    clear : left ;
    padding :1px;
    margin: 0px;
}

header h1
{
    text-align: center;
    padding: 0.5em;
    text-decoration: overline;
    text-shadow: 1px 2px 4px;
}
hr
{
    border: 1px solid black;
}
nav 
{
	background-color:#ffb3d9 ;
    z-index: 5;
}
 
nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
    z-index: 5;
	}
	
nav ul li 
{
	display:inline-block;
	background-color: #ffb3d9;
    z-index: 5;
}
 
nav a 
{
	display:block;
	font-size:13px;
	line-height: 60px;
	text-decoration:none;
    width: 150px;
    text-align: center;
    z-index: 5;
}
 
nav a:hover 
{ 
	background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}
/* Dropdown menu of packages and cruise */
nav ul ul li 
{
	width:190px;
	float:none;
	display:list-item;
	position: relative;
    z-index: 5;

}
/* Dropdown menu of packages and cruise */
nav ul ul ul li 
{
	position: relative;
	top:-60px; 
	left:170px;
    z-index: 5;

}

li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }
            
            /* Hide Dropdowns by Default */
nav ul ul 
{
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
    z-index: 5;
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul 
{
	display:inherit;
}
/* Header End*/

/*Start intro*/

/*Promo Boxs Start */
 .box-container
{
    display: flex;
    flex-wrap: wrap;
    gap:3em;
    margin-left: 17px;
}
 .box-container .box
{
    border-radius: 1.5em;
    overflow: hidden;
    box-shadow: 0 1em 2em rgba(0,0,0,0.5) ;
    height: 360px;
    border-bottom: 1px solid darkblue;
    border-right: 2px solid darkblue;
}
 .box-container .box .content
{
    padding:1em;
}
 .box-container .box .content p 
{
    font-size: 15px;
    color: dimgray;
}
.box-container .box img 
{
    object-fit: cover;
}
 .box-container .box .content h3
{
    padding: 0em;
    margin: 0px;
    letter-spacing: 1px;
}

/* Promo Box End */

/*footer css*/

.inner-footer
{
    margin: 0px;
    padding: 0em;
}
/*Social media links Start  */
.social-links
{
    display: flex;
}
.social-links ul 
{
    padding:10px;
    display:flex;
    list-style: none;
    width: 300px;
    height: 30px;
    margin: auto;
}
.social-items
{
    list-style: none;
}
.social-items a
{
    padding: 10px 20px;
    font-size: 30pt;
    transition: all .25s;
}
.social-items a:hover
{
    font-size: 35px;
}

/*Social media link End */

/*Quick link text start */
.quick-links
{
    display: flex;
    width: 770px;
    height: 45px;
    margin: auto;
}
.quick-links ul 
{
    display: flex;
}
.quick-items
{
    list-style: none;
}
.quick-items a
{
    text-decoration: none;
    padding: 0px 15px;
    font-size: 11pt;
    color:darkblue;
}
.quick-items a:hover
{
    font-size: 13pt;
    color: #585df3;
}
/* Quick link text End */
.outer-footer
{
    padding:15px;
    text-align: center;
    color: black;
    font-size: 14pt;
}
/*Footer Css*/