/*Header start*/
header
{
    letter-spacing: 19pt;
}

header,footer
{
    background-color:#ffb3d9 ;
    clear : left ;
    padding :1px;
    margin: 0px;
}

h1
{
    text-align: center;
    padding: 0.5em;
    text-decoration: overline;
    text-shadow: 1px 2px 4px;
}

hr
{
    border: 1px solid black;
}
nav 
{
	background-color:#ffb3d9 ;
}
 
nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li 
{
	display:inline-block;
	background-color: #ffb3d9;
}
 
nav a 
{
	display:block;
	font-size:13px;
	line-height: 60px;

	text-decoration:none;
    width: 150px;
    text-align: center;
}
 
nav a:hover 
{ 
	background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}
/* Dropdown menu of packages and cruise */
nav ul ul li 
{
	width:190px;
	float:none;
	display:list-item;
	position: relative;

}
/* Dropdown menu of packages and cruise */
nav ul ul ul li 
{
	position: relative;
	top:-60px; 
	left:170px;

}

li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }
            
            /* Hide Dropdowns by Default */
nav ul ul 
{
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul 
{
	display:inherit;
}
/*Header End*/

/*Start body*/
.testimonials
{
    padding 40px 0;
    background: #f1f1f1;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: monospace;
}
.inner-testimonial
{
    margin: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow:hidden;
    padding: 0 20px;
}
. border
{
    width: 160px;
    height: 5px;
    background: black ;

}
.row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col
{
    flex: 350px;
    max-width: 350px;
    box-sizing: border-box;
    padding: 15px;
}
.testimonial
{
    background: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
}
.testimonial img 
{
    border-radius: 50%;
}
.name
{
    font-size: 20px;
    text-transform: uppercase;
    margin:20px 0 ;
}
.stars
{
    color:#ffb3d9;
    margin-bottom:10px;
}
.testimonials .inner-testimonial h1 
{
    text-decoration: none;
    font-size: 30pt;
    margin: 0px;
    text-shadow: 0 0 0;
    font-family:monospace;
    color: darkblue;
}
.testimonials .inner-testimonial hr
{
    width: 190px;
    margin-top: 0px;
    border: 2px solid black;
    border-color: darkblue;
    border-bottom-color: #66a3ff;
    border-right-color: #66a3ff;
}
.testimonials .inner-testimonial .row .col .testimonial p
{
    text-align: justify;
    font-weight: bold;
    color: dimgrey;
}
/* Body End */

/*footer css*/
.inner-footer
{
    margin: 0px;
    padding: 0em;
}
.social-links
{
    display: flex;
}
.social-links ul 
{
    padding:10px;
    display:flex;
    list-style: none;
    width: 300px;
    height: 30px;
    margin: auto;
}
.social-items
{
    list-style: none;
}
.social-items a
{
    padding: 10px 20px;
    font-size: 30pt;
    transition: all .25s;
}
.social-items a:hover
{
    font-size: 35px;
}

.quick-links
{
    display: flex;
    width: 770px;
    height: 45px;
    margin: auto;
}
.quick-links ul 
{
    display: flex;
}
.quick-items
{
    list-style: none;
}
.quick-items a
{
    text-decoration: none;
    padding: 0px 15px;
    font-size: 11pt;
    color:darkblue;
}
.quick-items a:hover
{
    font-size: 13pt;
    color: #585df3;
}
.outer-footer
{
    padding:15px;
    text-align: center;
    color: black;
    font-size: 14pt;
}
