/*Header Start */

header
{
    letter-spacing: 19pt;
}

header,footer
{
    background-color:#ffb3d9 ;
    clear : left ;
    padding :1px;
    margin: 0px;
}

h1
{
    text-align: center;
    padding: 0.5em;
    text-decoration: overline;
    text-shadow: 1px 2px 4px;
}
hr
{
    border: 1px solid black;
}

/*Start Body*/
nav 
{
	background-color:#ffb3d9 ;
    z-index: 5;
}
 
nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
    z-index: 5;
	}
	
nav ul li 
{
	display:inline-block;
	background-color: #ffb3d9;
    z-index: 5;
}
 
nav a 
{
	display:block;
	font-size:13px;
	line-height: 60px;
	text-decoration:none;
    width: 150px;
    text-align: center;
    z-index: 5;
}
 
nav a:hover 
{ 
	background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}
/* Dropdown menu of packages and cruise */
nav ul ul li 
{
	width:190px;
	float:none;
	display:list-item;
	position: relative;
    z-index: 5;

}
/* Dropdown menu of packages and cruise */
nav ul ul ul li 
{
	position: relative;
	top:-60px; 
	left:170px;
    z-index: 5;

}

li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }
            
            /* Hide Dropdowns by Default */
nav ul ul 
{
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
    z-index: 5;
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul 
{
	display:inherit;
}
/*Header End*/

/*Body Start*/

/* Wedding Subtitle Start */
.wedding h1 
{
    text-shadow: 0 0 0 ;
}
.wedding
{
    text-align: center;
    padding: 1em ;
    margin-left: 150px;
}
.wedding span
{
    font-size: 20px;
    color:#ff4d4d;
    background: rgb(255, 204, 204,1);
    border-radius: 0.7rem;
    padding: 0.8em;
}
/* Wedding Subtitle End */

/* Wedding Boxs Start */
 .box-container
{
    display: flex;
    flex-wrap: wrap;
    gap:2em;
    margin-left: 50px;
}
.box-container .box
{
    border-radius: 1.5em;
    overflow: hidden;
    box-shadow: 0 1em 2em rgba(0,0,0,0.2) ;
    height: 510px;
}
 .box-container .box .content
{
    padding:1em;
}
.box-container .box .content img 
{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}
.box-container .box .content h3
{
    font-size:12pt;
    color:deeppink;
}
.box-container .box .content h3 i
{
    color: deeppink;

}
.box-container .box .content p
{
    font-size 11pt;
    color:black;
}
.box-container .box .content .sub 
{
    color: dimgrey;
    font-size: 9pt;
}
.box-container .box .content .stars i 
{
    font-size: 13pt;
}
.box-container .box .content .price
{
    font-size: 12pt;
    color: black;
}
.box-container .box .content .price span
{
    color:grey;
    text-decoration: line-through;
    font-size: 12px;
}
.spans
{
    text-decoration: line-through;
}
.btn
{
    display: inline-block;
    margin-top: 1em;
    background: pink;
    color: black;
    padding: 0.5em;;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
}
.btn:hover
{
    background: #ffcccc;
    font-size:12pt;
}
/* Wedding Boxs End */

/* Additional Information with table start */
.sub-heading 
{
    text-decoration: none;
}
section
{
    padding:1em;
    margin-left: 50px;
    width: 950px;
}
.additional h3 
{
    font-family: 'EB Garamond', serif;
    letter-spacing: 1px;
    color:darkblue;
    font-size:15pt;
}
.additional h2 
{
    font-family: 'EB Garamond', serif;
    letter-spacing: 1px;
    color: darkblue;
}
.additional p
{
    color: dimgrey;
    line-height: 25px;
}
.Looks 
{
    list-style: none;
    color: red;
    font-size: 12px;
}
table
{
    background-color: white;
    width: 800px;
}
table,th,td
{
    border: 2px solid pink;
    border-collapse: collapse;
}
caption
{
    padding: 1em;
    font-size: 20pt;
    letter-spacing: 2px;
    color: darkblue;
    text-decoration: underline;
    font-family: 'EB Garamond', serif;
}
.services
{
    font-family: monospace;
    font-size: 15px;
}
td,th
{
    padding: 1em;
}
/* Additional Information with table end */
/* Body End */

/*footer css*/
.inner-footer
{
    margin: 0px;
    padding: 0em;
}
.social-links
{
    display: flex;
}
.social-links ul 
{
    padding:10px;
    display:flex;
    list-style: none;
    width: 300px;
    height: 30px;
    margin: auto;
}
.social-items
{
    list-style: none;
}
.social-items a
{
    padding: 10px 20px;
    font-size: 30pt;
    transition: all .25s;
}
.social-items a:hover
{
    font-size: 35pt;
}

.quick-links
{
    display: flex;
    width: 770px;
    height: 45px;
    margin: auto;
}
.quick-links ul 
{
    display: flex;
}
.quick-items
{
    list-style: none;
}
.quick-items a
{
    text-decoration: none;
    padding: 0px 15px;
    font-size: 11pt;
    color:darkblue;
}
.quick-items a:hover
{
    font-size: 13pt;
    color: #585df3;
}
.outer-footer
{
    padding:15px;
    text-align: center;
    color: black;
    font-size: 14pt;
}